@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2A4153;
}

#addButton{
    font-weight: 900;
    color: #2A4153;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(42, 65, 83, 0.5);
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 6%;
    margin-bottom: 10%;
}
#genButton{
    font-weight: 900;
    color: #FFFFFF;
    width: 100%;
    background: #31CA9E;
    border: 1px solid #2A4153;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 6%;
    margin-bottom: 10%;
}

#forms{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 5%;
}

#formHead{
    height: 40px;
    background: #31CA9E;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 4%;
}

::selection{
    background: #31CA9E;
}

#header{
    width: 100%;
    height: 110px;
    background: #FFFFFF;
    padding-left: 5%;
    padding-top: 25px;
    margin-bottom: 10px;
}

#headerH1{
    /*margin-left: 5%;*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #31CA9E;
}

input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}

.notification_checkbox:before {
    content: " ";
    display: inline-block;
    margin-right: 5px;
    /*margin-top: 2px;*/
    margin-bottom: 2px;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #ced4da;
    /*background-image: url(icons/checkbox.svg);*/
    background-color: transparent;
    background-position: center;
    vertical-align: middle;
    border-radius: 7px;
}

input[type=checkbox]:checked + .notification_checkbox:before {
    width: 25px;
    height: 25px;
    background-image: url(icons/selected.svg);
    background-position: center;
    background-color: transparent;
    border: solid #31CA9E 1px;
    border-radius: 7px;
}