@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import "bootstrap.css";
@import 'modal.css';
@import 'form.css';
@import 'top.css';
@import 'bottom-buttons.css';
@import 'main-container.css';

html {
    overflow-y: scroll;
}

::selection{
    background: #31CA9E;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ced4da;;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover{
    color: #31CA9E;
    background: none;
}

input[type="date"]::-webkit-clear-button, ::-webkit-inner-spin-button  {
    -webkit-appearance: none;
}

input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    background-size: 13px, 13px;
    background-image: url(../icons/clear_input.svg);
}
input[type="time"]::-webkit-clear-button:hover {
    background-image: url(../icons/clear_input_hover.svg);
}

