@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2A4153;
}

#addButton{
    font-weight: 900;
    color: #2A4153;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(42, 65, 83, 0.5);
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 6%;
    margin-bottom: 10%;
}
#genButton{
    font-weight: 900;
    color: #FFFFFF;
    width: 100%;
    background: #31CA9E;
    border: 1px solid #2A4153;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 6%;
    margin-bottom: 10%;
}

#addButton:hover, #genButton:hover{
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.25);
}

#genButton:focus, #addButton:focus{
    outline: none;
}

#genButton:active , #addButton:active{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.50);
}


.forms{
    background: #FFFFFF;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 7px;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 5%;
}

#formHead{
    padding-left: 12px;
    height: 40px;
    background: #31CA9E;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 4%;
    margin-right: 0px;
    margin-left: 0px;
}

#headColName{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #F7F7F7;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    width: 87%;
    white-space: nowrap;
}
#headColButton{
    width: 13%;
    padding-left: 0px;
    padding-right: 5px;
}

::selection{
    background: #31CA9E;
}

#header{
    width: 100%;
    height: 110px;
    background: #FFFFFF;
    padding-left: 5%;
    padding-top: 25px;
    margin-bottom: 10px;
}

#headerH1{
    /*margin-left: 5%;*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #31CA9E;
}

#headerH1::selection {
    color: white;
}

input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}

.formSubmit{
    position: absolute;
    left: -9999px;
}

.notificationCheckbox:before {
    content: " ";
    display: inline-block;
    margin-right: 5px;
    /*margin-top: 2px;*/
    margin-bottom: 2px;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #ced4da;
    /*background-image: url(icons/checkbox.svg);*/
    background-color: transparent;
    background-position: center;
    vertical-align: middle;
    border-radius: 7px;
}

input[type=checkbox]:checked + .notificationCheckbox:before {
    width: 25px;
    height: 25px;
    background-image: url(icons/selected.svg);
    background-position: center;
    background-color: transparent;
    border: solid #31CA9E 1px;
    border-radius: 7px;
}

#longMessage {
    margin-top: -12px;
    margin-bottom: 7px;
}

.formHead {
    display: block;
}


.deleteButton {
    position: absolute;
    left: -9999px;
}

.deleteButtonPlace{
    float: right;
    content: " ";
    display: inline-block;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 28px;
    height: 28px;
    background-image: url(icons/delete.svg);
    background-color: transparent;
    background-position: center;
    vertical-align: middle;
}

.deleteButtonPlace:hover {
    background-image: url(icons/delete_active.svg);
    width: 32px;
    height: 32px;
    border-radius: 7px;
    margin-right: 5px;
    margin-top: 4px;
}
